<ion-view view-title="">
  <ion-content id="boardroom_bg" class="screen-calm" has-bouncing="true">
      <div class="exclaim notify">
          <i class="icon ion-coffee placeholder-icon custom-icon-chat"></i><br /><br />Choose your area<br />Chat to others
      </div><br />
    <ion-list>
        <ion-item ng-click="gochat('{{service.user.username}}', 'ECT')">
            ECT - Eastern Cape, <span>SOUTH AFRICA</span> <i class="icon ion-chevron-right placeholder-icon custom-icon"></i>
        </ion-item>
        <ion-item ng-click="gochat('{{service.user.username}}', 'KZN')">
            KZN - KwaZulu Natal, <span>SOUTH AFRICA</span> <i class="icon ion-chevron-right placeholder-icon custom-icon"></i>
        </ion-item>
        <ion-item ng-click="gochat('{{service.user.username}}', 'WCT')">
            WCT - Western Cape, <span>SOUTH AFRICA</span> <i class="icon ion-chevron-right placeholder-icon custom-icon"></i>
        </ion-item>
    </ion-list>
      <div class="row">
          <div class="col"></div>
          <div class="col"><br /><br /><br /><img src="img/logo.png" width="100%" /></div>
          <div class="col"></div>
      </div>
  </ion-content>
</ion-view>
