<ion-view view-title="{{status_message}}">

    <ion-content id="boardroom_bg" has-bouncing="true" class="has-header has-footer screen-calm" delegate-handle="mainScroll">
        <ion-list class="list">
            <li style="background-color: transparent !important; border: none !important; padding-top: 4px !important; padding-bottom: 4px !important;"
                ng-repeat="msg in messages" ng-class="{
                  'item item-avatar-right nopadding': (socketId == msg.socketId) && !msg.isLog,
                  'item item-avatar-left nopadding': (socketId != msg.socketId) && !msg.isLog,
                  'item item-divider noPadding noBg' : msg.isLog
                   }">
                <div ng-class="{
                  'bubbleRight item-text-wrap': (socketId == msg.socketId) && !msg.isLog ,
			            'bubbleLeft item-text-wrap': (socketId != msg.socketId) && !msg.isLog}">
                    <h2 ng-hide="msg.isLog"><b>{{msg.sender}}:</b></h2>
                     <p ng-hide="msg.isLog" ng-bind-html="msg.message"></p>
                     <center><p style="color:#393939;" ng-show="msg.isLog">{{msg.message}}</p></center>
                </div>
            </li>
        </ion-list>
    </ion-content>

    <div class="bar bar-footer item-input-inset footer-item-input-inset bar-footer">
	   <label class="item-input-wrapper">
		   <i class="icon ion-android-chat placeholder-icon"></i>
           <input style="color:#393939;" type="text" placeholder="Enter your message..." ng-model="message" ng-enter="sendMessage()" />
       </label>
	   <button class="button button-clear button-light ion-android-send icon custom-icon-send" ng-click="sendMessage()"></button>
    </div>

      </ion-view>
