<ion-modal-view>
    <ion-header-bar class="bar-new">
        <h1 class="title">CHANGE PASSWORD</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closePassword()">Cancel</button>
        </div>
    </ion-header-bar>
    <ion-content id="settings_bg" class="screen-calm" has-bouncing="true">
        <form>
            <div class="list">
                <label class="item item-input sky">
                    <span class="input-label">Old Password</span>
                    <input type="password" ng-model="data.password">
                </label>
				<label class="item item-input sky">
                    <span class="input-label">New Password</span>
                    <input type="password" ng-model="data.newPassword">
                </label>
				<label class="item item-input sky">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" ng-model="data.confirmNewPassword">
                </label>
                <label class="item">
                    <button class="button button-block button-calm" ng-click="updatePassword()">Update</button>
                </label>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col"><br /><br /><br /><img src="img/logo.png" width="100" /></div>
                <div class="col"></div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
