<ion-view view-title="WAVEY">
  <ion-content id="main_bg" class="screen-calm">
      <div class="exclaim">
          <i class="icon ion-earth placeholder-icon custom-icon-reg"></i><br /><br />Choose your area. Find your spot.<br /> View the report
      </div><br />
    <ion-list>
        <ion-item ng-repeat=" region in regions" href="#/app/regions/{{region.id}}">
            {{region.name}}, <span>{{region.country | uppercase}}</span> <i class="icon ion-chevron-right placeholder-icon custom-icon"></i>
        </ion-item>
    </ion-list>
      <div ng-show="!isLoggedIn">
      <div class="exclaim">
          <i class="icon ion-android-favorite-outline placeholder-icon custom-icon-fav"></i><br /><br />Save spots for quick access
      </div><br />
      <ion-list>
          <ion-item ng-click="login()">
              <i class="icon ion-checkmark-circled placeholder-icon custom-icon"></i>Sign in
          </ion-item>
          <ion-item ng-controller="SignupCtrl" ng-click="signup()">
              <i class="icon ion-person-add placeholder-icon custom-icon"></i>Sign up
          </ion-item>
      </ion-list>
      </div>
      <div ng-show="isLoggedIn">
          <div class="row">
              <div class="col"></div>
            <div class="col"><br /><br /><br /><img src="img/logo.png" width="100"/></div>
              <div class="col"></div>
          </div>
      </div>
      <br />
      <br />
      <br />
  </ion-content>
</ion-view>
