<ion-view view-title="">
    <ion-content has-bouncing="true" id="main_bg" class="screen-calm">
        <div class="exclaim notify">
            <span>{{region.name}}, <span>{{region.country}}</span></span><br /><br />
            <i class="icon ion-android-pin placeholder-icon custom-icon-rego"></i><br /><br />Choose your spot<br /> View a <b>live report </b><br />Check out the <b>5 day forecast
            </b><br /> Maybe even find a <b>webcam</b>
        </div><br />
        <ion-list>
            <ion-item ng-repeat="spot in region.spots" href="#/app/regions/{{region._id}}/{{spot.name}}">
                {{spot.name}} <i class="icon ion-chevron-right placeholder-icon custom-icon"></i>
            </ion-item>
        </ion-list>
        <br />
        <br />
    </ion-content>
</ion-view>
