<ion-view view-title="">
    <ion-content id="settings_bg" class="screen-calm">
        <ion-list>
        <div class="exclaim notify">
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="exclaim" style="font-weight: bold;">
                    <img class="mainprofile-pic" ng-src="http://{{service.user.profilepic}}" /><br /><br />{{service.user.username}}
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="exclaim" style="font-weight: bold;">
                    {{service.user.email}}
                </div>
            </div>
        </div>           
            
        </ion-list><br />
        <ion-list>
            <li class="nav-clear item item-toggle">
                &nbsp;&nbsp;<i class="icon ion-unlocked placeholder-icon custom-icon"></i>
                Remember Me
                <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="rememberMe.checked" ng-change="updateSettings()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <ion-item nav-clear ng-click="changePassword()">
                <i class="icon ion-key placeholder-icon custom-icon"></i>
                Change password
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
